
.container {
    padding: 20px; /* You can adjust this value to your desired padding */
}


.center-quote {
    text-align: center;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 3px; /* Adjusted to 1px */
    border-top: 2px solid rgb(63, 128, 214);
    font-size: 20px;
    padding-top: 10px;
    color:rgb(63, 128, 214);
}

.explanation {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    color: rgb(63, 128, 214);
}

/* Reset default padding and margin for lists */
ol, ul {
    margin: 0;
}

/* Add some padding to the left to see bullets/numbers */
ul {
    padding-left: 40px;
}

ol {
    padding-left: 20px;
}

/* Add space below each main list item in the ordered list */
ol > li {
    margin-bottom: 10px;  
}

/* Remove space for sub-list items (unordered list items inside ordered lists) */
ol > li > ul > li {
    margin-bottom: 0;  
}

