.wrapper {
    display: flex;  /* Set the wrapper as a flex container */
}

.block1 {
    flex: 0 0 70%;
    background-image: url('path_to_your_image.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center; 
    align-items: center;     
    flex-direction: column;  
}

.section {
    border-bottom: 2px solid #000;  
    padding-bottom: 16px;  
    margin-bottom: 16px; 
    width: 70%;
    text-align: center;  /* Center the text horizontally */

    /* Center the content vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.blocks-2-and-3 {
    flex: 0 0 30%;  /* This will occupy the remaining 30% of the parent width */
    display: grid;  /* Make it a grid container to stack block 2 and block 3 vertically */
    grid-template-rows: 50% 50%;  /* Adjust percentages as required. Here block2 takes 60% of parent height and block3 takes 40% */
}

.block2 {
    /* Adjust width and height if necessary */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
   
}

.block2 img {
    width: 100%;          /* Make the image width match the container width */
    height: 100%;         /* Make the image height match the container height */
    object-fit: contain;  /* This will scale the image to fit inside the container without cropping */
    object-position: center; /* This will center the image within its container. */
    display: block;      /* Remove default line height/margin around the image */
    margin: 0;
    padding: 0;
}


.block3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  /* Align content to the top vertically */
    align-items: center;          /* Center horizontally */
    width: 100%;
    height: 100%;
    grid-template-rows: auto auto; 
    margin: 0;
    padding: 0;
    
}

ul.list-unstyled {
    padding-left: 0;
    list-style-type: none;
}

.custom-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 6px 20px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    background-color: #7a4ef1;
    color: #fdfdfd;
    transition: background-color 0.3s ease;
    width: 40%;
    text-align: center;  /* This will center the text inside the button */
}
 
}


.custom-button:hover {
    background-color: #9ab6de;
}









